click==8.0.1; python_version >= "3.6"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.5.0"
joblib==1.0.1; python_version >= "3.7"
numpy==1.21.1; python_version >= "3.7"
pydantic==1.8.2; python_full_version >= "3.6.1"
redis==3.5.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
rq==1.10.0; python_version >= "3.5"
scikit-learn==1.0; python_version >= "3.7"
scipy==1.6.1; python_version >= "3.7"
threadpoolctl==3.0.0; python_version >= "3.7"
typing-extensions==3.10.0.2; python_full_version >= "3.6.1"
